<h1>List of All Events</h1>

<%= link_to "Create New Event", new_event_path %>
<table>
<% @events.each do |event| %>
  <tr>
    <td>Date:<%= event.date %> </td>
    <td>Location: <%= event.location %> </td>
    <td>Description: <%= event.description %> </td>
    <td>Capacity: <%= event.capacity %> </td>
    <td>Requires ID: <%= event.requires_id %> </td>
    <td> <%= link_to "Show", event_path(event) %></td>
    <td><%= link_to "Edit", edit_event_path(event) %></td>
    <td><%= link_to "Delete", event, method: "delete" %></td>

  </tr>
<% end %>
